@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Flavor

<h2>FLAVOR DETAILS</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(model => model.Description)</h3>

@if(@Model.Treats.Count == 0)
{
  <p>NO TREATS HAVE THIS FLAVOR YET!</p>
}
else
{
  <h3>TREATS WITH THIS FLAVOR:</h3>
  <ul>
    @foreach(var join in Model.Treats)
    {
      <li>@join.Treat.Name</li>
      @using(Html.BeginForm("DELETE TREAT", "Flavors"))
      {
        @Html.Hidden("joinId", @join.TreatFlavorId)
        <input type="submit" value="DELETE"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("BACK TO FLAVORS", "Index")</p>
<p>@Html.ActionLink("EDIT FLAVORS", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("DELETE FLAVOR", "Delete", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("ADD A TREAT", "AddTreat", new { id = Model.FlavorId})</p>
